<body>
  <header class="header">
    <h1>
      Лабораторна робота 5 - Javascript
    </h1>

    <h2 style="padding-top: 1vw;">
      Виконала студентка групи КН32
      <br> Гнатюк Анна Михайлівна
    </h2>

  </header>

  <main class="main">

    <section class="task">

      <h3>
        Завдання на лабораторну роботу:
      </h3>
      <p>
        Необхідно написати проект на фремворку Angular, який
        визначає потрапляння крапки на координатній площині в задану область чи ні
        відповідно до варіанту завдань, і вміщує HTML-сторінку, яка формує дані для
        відправки їх на обробку.Вхідними даними є

        <br>xn- початкове значення координати х,
        <br>xk - кінцеве значення координати х,
        <br>yn- початкове значення координати у,
        <br>yk- кінцеве значення координати у,
        <br>хh – крок зміни координати х,
        <br>уh – крок зміни координати у,
        <br>R – значення радіуса для фігури.
      </p>
      <img src="../assets/task.PNG" alt="task">
      <p>Скрипт повинен виконувати перевірку даних(валідацію) значень, що
        вводяться користувачем в поля форми і повертати HTML-сторінку з таблицею,
        що містить отримані параметри і результат обчислень - факт потрапляння або
        не потрапляння крапки в область, крім того, якщо крапка потравляє в область
        то такий рядок виділяємо зеленим кольором, якщо ні червоним. Будь-які
        некоректні значення (наприклад, букви в координатах точки або негативний
        радіус) повинні блокуватися.
        <br>Крім того, відповідь має містити дані про поточний час і часи роботи
        скрипта.
      </p>
    </section>

    <section class="result">
    </section>
    <app-point></app-point>
  </main>

</body>
