<article class="flex">
    <h2>enter dani </h2>
    <form class="flex form">
        <fieldset>
            <legend>value x</legend>
            <label>Xn =
                <input type="number" required value="-3" #Xn>
            </label>
            <label>Xk =
                <input type="number" required value="3" #Xk>
            </label>
            <label>Xh =
                <input type="number" required value="1" #Xh>
            </label>
        </fieldset>
        <fieldset>
            <legend>value y</legend>
            <label>Yn =
                <input type="number" required value="-3" #Yn>
            </label>
            <label>Yk =
                <input type="number" required value="3" #Yk>
            </label>
            <label>Yh =
                <input type="number" required value="1" #Yh>
            </label>
        </fieldset>
        <fieldset>
            <legend>value r</legend>
            <label>R =
                <input class="input_r" type="number" required value="3" min="1" #R>
            </label>
        </fieldset>
    </form>
    <button
    (click)="setAll(Xn.value,Xk.value,Xh.value,Yn.value,Yk.value,Yh.value,R.value)">
    <h3>Розрахунок</h3>
  </button>
  <div class="flex_row">
    <div class="card" *ngFor="let pp of p.p" [style.backgroundColor]="getColor(pp.belong)">
      <p> X= {{ pp.x }} Y= {{ pp.y }} </p>
    </div>
    
  </div>
</article>