@import url(../app.component.css);

@font-face {
  font-family: "myFont";
  src: url(../../../../fonts/AdventPro/AdventPro_ExtraExpanded-Medium.ttf);
  font-weight: 200;
  font-style: normal;
}

.article{
  width: 90vw;
  display: grid;
  padding-left: 5vw;
  padding-right: 5vw;
}

.form{
  background-color: darkslateblue;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 35px;
  width: 100%;
  font-family: "myFont";
  color: beige;
  font-size: 20px;
  font-weight: 200;
}



input {
  border: none;
  background: transparent;
  width: 25%;
  height: 45px;
  outline: none;
  border-bottom: 1px solid burlywood;
  font-family: "myFont";
  color: burlywood; 
  font-size: 25px;
  font-weight: 250;
}


@media (max-width: 425px) {
  input {
    width: 85%;
  }

}

input:focus {
  background-color: rgb(62, 53, 122);
  border-radius: 25px;
}


input:invalid {
  border-bottom: 1px dashed red;
  background: linear-gradient(darkslateblue 30%, red);
  
 }

.input_r {
  width: 50%;
}

button {
  justify-self: center;

  background-color: cornflowerblue;
  font-family: "myFont";
  border: none;
  color: aliceblue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 26px;
  transition: all 0.3s ease-out;
  text-align: center;
  width: 25%;
}

button:hover {
  background-color: rgb(168, 112, 201);
  cursor: pointer;
}

.flex_row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.card {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid pink;
  background-color: pink;
   font-family: "myFont";
  color: ivory;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  display: grid;
  align-self: center;
}